#popUpDiv {
	background-color: #FFF;
	position: fixed;
    z-index: 99999;
	float: right;
	top: 1%;
	bottom: 1%;
}


		
		
#imgListDiv {
	width: 30%;
	height: 90%;
	background-color: #F0FFF0;
    position: fixed;
    right: 1%;
    z-index: 99999;
	float: right;
	overflow-x: scroll;
}

#board{
    height: 90%;
	width: 67%;
	background-color:  #fff;
    position: fixed;
    right: 1%;
	left: 1%;
	top: 1%;
    z-index: 99999;
	float: right;

}

#board < div {
	height: 90%;
	width: 60%;

}



.selectableItem img{
    float: left;
	margin-right: 9px;
}

.srcKeeper {
	margin-left: 60px;
}

.selectableItem{
	display: table;
	padding: 3px;
}

.selectableItem:hover {
	
    background-color: #d1e9ed;
    cursor: pointer;
}

